<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="freeCRMTest App">
    <test name="freeCRMTest">
        <classes>
            <class name="com.freecrm.qa.testcases.LoginPageTest" />
            <class name="com.freecrm.qa.testcases.HomePageTest" />
            <class name="com.freecrm.qa.testcases.ContactsPageTest" />
        </classes>
    </test>
</suite>